body {
  width: 375px;
  background-color: white;
  position: absolute;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

.appBar {
  position: absolute;
  top: 15px;
}

.bg {
  padding-top: 62px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(51% - 375px / 2);
  top: 68px;
}

.headlineText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
}

.primaryText {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.socialMedia {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1px;
  color: #7f8cff;
  margin-top: 24px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
  width: 117px;
  height: 24px;
  margin-top: 28px;
  cursor: pointer;
}

.workSection {
  display: grid;
  margin-top: 6rem;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 680px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshotPortfolio1 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 18px;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 2px;
  width: 295px;
  height: 288px;
}

.projectTitle {
  width: 295px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
}

.experience ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 2rem;
  width: 295px;
  height: fit-content;
  margin-top: 3.5rem;
  text-decoration: none;
  list-style: none;
}

.experience li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

.textt {
  width: 295px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.tagss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 15px;
  width: 214px;
  height: 24px;
}

.tagss li {
  list-style: none;
  background: #ebebff;
  padding: 6px 14px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  width: auto;

  /* Primary/B400 */
  color: #6070ff;
}

.action {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 290px;
}

.see-project {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #396df2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 170px;
  height: 68px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 2px solid #6070ff;
  border-radius: 12px;
  background-color: #fff;
}
.myself {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  left: calc(51% - 375px / 2);
  margin-bottom: 34px;
}
.resume-btn {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  width: 290px;
  margin-left: 0;
}
.resume {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #396df2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 220px;
  height: 68px;
  top: calc(50% - 48px / 2);
  border: 2px solid #6070ff;
  border-radius: 12px;
  background-color: #fff;
}

.languages-layout {
  display: flex;
  padding: 0;
  gap: 20px;
  width: 327px;
  height: 400px;
}

.languages-text {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 650px;
  letter-spacing: 0;
}

.list-layout {
  width: 327px;
  height: 100.15px;
  padding: 12px;
  gap: 12px;
}

.languages-skill {
  width: 327px;
  height: 72px;
  padding: 16px, 26px, 16px, 12px;
}

.skills-layout {
  width: 327px;
  height: 248.15px;
  padding: 12px;
  gap: 20px;
}

.lang {
  width: 303px;
  height: 66.72px;
  padding: 9px 12px 9.72px;
  border-radius: 8px;
  background: rgb(247 247 249 / 100%);
}

.frame9text {
  width: 215px;
  height: 4px;
  position: absolute;
  left: 50px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 0px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(37 56 88 / 100%);
}

.language-button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  border-radius: 8px;
  left: 261px;
  top: 4820px;
  background-color: white;
  border: white;
}

.eclipse1 {
  height: 25px;
  top: 13px;
  left: 12px;
  border: 1px;
  padding-left: 10px;
  padding-top: 10px;
}
.frameworks {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 237px;
  height: 24px;
  top: 24px;
  left: 12px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100px;
  letter-spacing: 0;
  text-align: left;
}
.side-button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  border-radius: 8px;
  left: 261px;
  top: 5240px;
  background-color: white;
  border: #fff;
}

.side-button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  left: 261px;
  top: 5340px;
  background-color: white;
  border: white;
}

.base {
  width: 375px;
  height: 1263px;
  top: 4820px;
  left: 375px;
  background: rgb(255 255 255 / 100%);
}
.contact-me-background {
  position: relative;
}

.contact-me {
  position: absolute;
  top: 12%;
  left: 35%;
  transform: translate(-30%, -30%);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: white;
}

.contact-me-text {
  top: 25%;
  transform: translate(-30%, -30%);
  width: 327px;
  position: absolute;
  left: 120px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(235 235 255 / 100%);
}

.label {
  position: absolute;
  top: 45%;
  left: 32.5%;
  transform: translate(-30%, -30%);
  width: 327px;
  height: 48px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(207 216 220 / 100%);
}

.input-text {
  width: 273px;
  height: 18px;
  top: 15px;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  left: 26px;
}

.label2 {
  position: absolute;
  top: 55%;
  left: 32.5%;
  transform: translate(-30%, -30%);
  width: 327px;
  height: 48px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(207 216 220 / 100%);
  margin-bottom: 30px;
}

.input-text2 {
  width: 273px;
  height: 18px;
  top: 15px;
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0;
  left: 26px;
  color: #7a869a;
}

.inputContainer {
  position: absolute;
  top: 70%;
  left: 32.5%;
  transform: translate(-30%, -30%);
  width: 327px;
  height: 170px;
  border-radius: 8px;
  background-color: white;
}
