body {
  width: 375px;
  background-color: white;
  position: absolute;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

.appBar {
  position: absolute;
  top: 15px;
}

.bg {
  padding-top: 62px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(51% - 375px / 2);
  top: 68px;
}

.headlineText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
}

.primaryText {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.socialMedia {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1px;
  color: #7f8cff;
  margin-top: 24px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
  width: 117px;
  height: 24px;
  margin-top: 28px;
  cursor: pointer;
}

.workSection {
  display: grid;
  margin-top: 6rem;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 680px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshotPortfolio1 {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 18px;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 2px;
  width: 295px;
  height: 288px;
}

.projectTitle {
  width: 295px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
}

.experience ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 2rem;
  width: 295px;
  height: fit-content;
  margin-top: 3.5rem;
  text-decoration: none;
  list-style: none;
}

.experience li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

.textt {
  width: 295px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.tagss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 15px;
  width: 214px;
  height: 24px;
}

.tagss li {
  list-style: none;
  background: #ebebff;
  padding: 6px 14px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  width: auto;

  /* Primary/B400 */
  color: #6070ff;
}

.action {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 290px;
}

.see-project {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #396df2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 170px;
  height: 68px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 2px solid #6070ff;
  border-radius: 12px;
  background-color: #fff;
}
.myself {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  left: calc(51% - 375px / 2);
  margin-bottom: 34px;
}
.resume-btn {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  width: 290px;
  margin-left: 0;
}
.resume {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #396df2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 220px;
  height: 68px;
  top: calc(50% - 48px / 2);
  border: 2px solid #6070ff;
  border-radius: 12px;
  background-color: #fff;
}
.languages {
  height: 10px;
  left: 0px;

  /* Body / 1 - Bolder */
  font-family: "Poppins";
  font-style: light;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  gap: 6rem;
  color: #000000;
}
.frameworks {
  height: 10px;
  left: 0px;
  margin-top: 90px;
  /* Body / 1 - Bolder */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  gap: 5rem;
  color: #000000;
}

.skills {
  height: 10px;
  left: 0px;

  /* Body / 1 - Bolder */
  font-family: "Poppins";
  font-style: light;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  display: flex;
  align-items: center;
  gap: 10.5rem;
  color: #000000;
}
.lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.lang ul {
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);

  /* Body / 3 - Bolder */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

  /* Neutrals/N700 */
  color: #253858;
}
.lang li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.conatctForm {
  padding: 24px;
  height: 455px;
  background-color: #253858;
}
.background {
  margin-top: 25px;
  padding-top: 45px;
  position: relative;
  width: 375px;
  height: 840px;
}
.contactbg {
  position: absolute;
  z-index: 0;
  height: 840px;
}
.conbg {
  position: absolute;
  right: 0px;
  padding-top: 20px;
  width: 230px;
  z-index: 1;
}
.contactme {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(51% - 375px / 2);
  top: 250px;
}
.contactme h1 {
  position: absolute;
  width: 327px;
  height: 137px;
  left: 24px;
  top: 4700px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  /* or 140% */
  text-align: center;

  /* Primary/B50 */
  color: #ebebff;
}
.contactme p {
  /* Primary Text */

  position: absolute;
  width: 327px;
  height: 137px;
  left: 24px;
  top: 4770px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  text-align: center;

  /* Primary/B50 */
  color: #ebebff;
}
.form {
  position: absolute;
  width: 370px;
  height: 187px;
  left: 24px;
  top: 4950px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  text-align: center;

  /* Primary/B50 */
  color: #ebebff;
}
.form ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
  align-items: flex-start;
}
.form li {
  list-style: none;
  border: 2px solid #6070ff;
}
.name {
  height: 50px;
  width: 280px;
  top: calc(50% - 48px / 2);
  border: 2px solid #6070ff;
  border-radius: 12px;
  padding-left: 6px;
}
.email {
  height: 50px;
  width: 280px;
  top: calc(50% - 48px / 2);
  border: 2px solid #6070ff;
  border-radius: 12px;
  padding-left: 6px;
}
.msg {
  height: 150px;
  width: 280px;
  padding: 12px;
  gap: 10px;
  width: 270px;
  height: 160px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 2px solid #6070ff;
  border-radius: 12px;
  padding: 12px;
}

.get-in-touch {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #396df2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 150px;
  height: 60px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 2px solid #6070ff;
  border-radius: 12px;
  cursor: pointer;
}
